* {
	margin: 0;
    padding: 0;
}

/* Everything below for navigation */
nav {
    margin-top: 30px;
    padding-left: 50px;
    width: 960px;
    height: 2.5em;
    border-radius: 0px 150px 0px 0px;

    background-color: var(--thirdColor);

    font-size: 20px;
    font-family: var(--codeFont);
}

nav ul {
    list-style: none;
}

nav ul li {
	float: left;
    position: relative;
    width: 240px;
}

nav ul li a {
	color: var(--secondColor);
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    text-align:  center;
}

nav ul li a:hover  {
	display: block;
    text-decoration: none;
    border-bottom: 1px solid white;
    cursor: default;
}

nav ul ul li ul li:hover {
    border-bottom: 1px solid white;
}

nav ul li ul {
	display: none;
	position: absolute;
    background-color: var(--thirdColor);
}

nav ul li:hover ul{
    display: block
}

::selection {
	background: #E4E4E4;
}