pre {
	margin: 16px;
	padding: 16px;
	background-color: #ccc;
	border-radius: 10px;
	white-space: pre;
}

.download {
	background-color: #33F;
	font-size: 24px;
	color: #FFF;
	text-decoration: none;
	margin: 12px;
	margin-bottom: 12px;
	padding: 4px;
}

.download:hover {
	background-color: #22E;
	font-size: 26px;
	text-decoration: none;
}

.group {
	background-color: #fff;
	margin: 12px;
}

.group:hover {
	border: 5px solid #888;
}

.sec1 p, .sec1 ul {
	font-size: 16px;
	font-family: "Slabo 27px", serif;
	color: #555;
}

.sec1 p:hover, .sec1 ul:hover {
	color: #000;
}

.sec1 h1:hover {
	color: #A29FFF;
}

.sec1 h1 {
	font-family: "Titillium Web", sans-serif;
	padding: 12px;
	text-decoration: underline;
	color: #807DFF;
}

.sec1 p {
	padding: 12px;
}

.sec1 ul {
	padding: 12px 44px;
}

.sec1 ul li ul {
	padding: 8px 24px;
}

a {
	color: #566DFA;
}

a:hover {
	color: #B7C1FF;
}

.zoom {
	float: right
	background-color: green;
	transition: transform 1s; /* Animation */
	width: 35%;
	height: 35%;
	margin-left: 24px;
	margin-bottom: 16px;
	display: inline-block;
	border-radius: 10px;
}

.zoom:hover {
	transform: scale(1.5) translate(200px); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}