:root {
    --blackCol: #1B1B1D;
    --darkRed: #1b010a;
    --redCol: #F45531; /* 244, 85, 49 rgb */
    --greenCol: #39ff14;
    --orangeCol: rgb(255, 166, 0);
    --grayCol: rgb(88, 86, 86);

    --codeFont: 'Roboto Mono', monospace;
    --otherFont: 'Nunito Sans', sans-serif;
}

.navbar-custom, .navbar-custom .dropdown-menu {
    background-color: rgba(0, 0, 0, .4);
}

.navbar-custom .navbar-toggler-icon { /* Something I got from stack overflow to change the color of the button thingy for navigation on mobile */
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(244,85,49, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-custom .navbar-toggler {
    border-color: var(--redCol);
  } 

.navbar-custom .navbar-brand, .navbar-custom .nav-link, 
.navbar-custom .dropdown-item {
    color: var(--redCol);
}

.navbar-custom .navbar-text a{
    color: var(--orangeCol);
    text-decoration: underline;
}

#activeNav {
    color: var(--greenCol);
}

.navbar-custom .dropdown-item:hover { /* Used to overwrite hover css from bootstrap */
    background-color: initial;
    color: var(--redCol);
    border-bottom: white 1px solid;
}

.navbar-custom .nav-link:hover {
    border-bottom: white 1px solid;
}
