html {
    background-color: var(--blackCol);
}

.navbar-custom, .navbar-custom .dropdown-menu {
    background-color: rgba(0, 0, 0, 1);
}

.content {
    color: var(--redCol);
    font-family: var(--codeFont);
    text-align: center;
    width: 50%;
    position: absolute;
    top: 30%;
    left: 25%;
    z-index: -1;
}

.content h1 {
    font-size: 6vw;
}

.content a {
    text-decoration: none;
    padding: 10px;
    color: var(--redCol);
    border: 2px solid white;
    border-radius: 50px;
    position: relative;
    top: 50px;
    width: 160px;
    transition-property: padding;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.content h1:hover {
    cursor: default;
}

.content a:hover {
    padding: 30px 50px;
    color: var(--greenCol);
    transition-property: padding;
    transition-duration: 1s;
    transition-timing-function: ease;
}

@media (min-width: 768px) {
    .content h1 {
        font-size: 2em;
    }
}